h1 {
    color:rgb(243, 17, 17);
    text-align: center;
}

ul {
    text-align:right;
}

.main {
    color: rgb(15, 150, 200)
}

#text {
    color: rgb(15, 200, 150)
}

.box {
    margin: 0.1vw;
    box-sizing: border-box;
    font-size: 0.2vw;
    padding: 0.1vw;
    border: 10px rgb(196, 231, 20)
}